@using Helpers = Common.Enums.UserRoles
@using Microsoft.AspNet.Identity
<div class="container">
    <a class="app-bar-element branding" href="@Url.Action("Index", "Home")"><span class="mif-bus"></span> Warehouse</a>
    <span class="app-bar-divider"></span>
    <ul class="app-bar-menu">
        @if (User.IsInRole(Helpers.Admin))
        {
            <li>
                <a href="" class="dropdown-toggle">Employees</a>
                <ul class="d-menu" data-role="dropdown">
                    <li>@Html.ActionLink("Add New Employee", "EmployeeRegister", "Account")</li>
                    <li>@Html.ActionLink("Employee Info", "Index", "Home")</li>

                </ul>
            </li>
            <li>
                <a href="" class="dropdown-toggle">Providers</a>
                <ul class="d-menu" data-role="dropdown">
                    <li>@Html.ActionLink("Add New Provider", "ProviderRegister", "Account")</li>
                    <li>@Html.ActionLink("Provider Info", "Index", "Home")</li>
                </ul>
            </li>

        }
        @if (User.IsInRole(Helpers.Employee))
        {
            <li>@Html.ActionLink("Deliveries", "Delivery", "Provider")</li>
            <li>@Html.ActionLink("Shipments", "Shipment", "Customer")</li>
            <li>@Html.ActionLink("Customers", "Customer Info", "Employee")</li>
        }
        @if (User.IsInRole(Helpers.Provider))
        {
                <li>@Html.ActionLink("Add New Product", "Create", "Product")</li>
                <li>
                    @Html.RouteLink("New Delivery", new
                    {
                        controller = "Product",
                        action = "List",
                        categoryId = 0,
                        page = 1
                    })
                </li>
        }
        @if (User.IsInRole(Helpers.Customer))
        {
            <li>
                @Html.RouteLink("Shipment", new
                {
                    controller = "Product",
                    action = "List",
                    categoryId = 0,
                    page = 1
                })
            </li>
        }


    </ul>
    <ul class="app-bar-menu place-right">
        @if (Request.IsAuthenticated)
        {
            <content>
                @{Html.RenderAction("Summary", "Cart");}
            </content>
            <li>
                <a href="" class="dropdown-toggle">
                    @User.Identity.GetUserName() <span class="mif-user"></span>
                </a>
                <ul class="d-menu" data-role="dropdown">
                    @if (User.IsInRole(Helpers.Customer))
                    {
                        <li>@Html.ActionLink("Personal account", "Details", "Customer")</li>
                    }
                    @if (User.IsInRole(Helpers.Employee))
                    {
                        <li>@Html.ActionLink("Personal account", "Details", "Employee")</li>
                    }
                    @if (User.IsInRole(Helpers.Provider))
                    {
                        <li>@Html.ActionLink("Personal account", "Details", "Provider")</li>
                    }
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Account management", "Index", "Manage")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Exit", "LogOff", "Account")</li>
                </ul>
            </li>
        }
        else
        {
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
    </ul>
</div>